@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;800&display=swap');
* {
  font-family: 'Orbitron', sans-serif;
  color: white;
}
body {background-color: black}
img.emoji {
  height: 2em;
  width: 2em;
  vertical-align: -0.1em;
  display: inline-block;
}
